<h1>My tasks</h1>

<% @tasks.each do |task| %>
    <% if task.completed %>
      <i class="fa fa-check-square-o"></i>
    <% else %>
      <i class="fa fa-square-o"></i>
    <% end %>
    <%= link_to task.title, task_path(task.id) %>
    ·
    <%= link_to task_path(task.id), method: :delete, data: { confirm: "Delete #{task.title}?" } do %>
      <i class="fa fa-trash-o" aria-hidden="true"></i>
    <% end %>
    <br>
  <% end %>

<%# @tasks.each do |task| %>
  <%# if task.completed %>
    <%#= check_box("tag", tag.completed, {checked: true}) %>
  <%# else %>
    <%#= check_box("tag", tag.completed, {checked: false}) %>
  <%# end %>
  <%#= link_to task.title, task_path(task.id) %>
  <%#= link_to task_path(task.id), method: :delete, data: { confirm: "Delete #{task.title}?" } do %>
  <!-- <i class="fa fa-trash-o" aria-hidden="true"></i> -->
  <!-- <br> -->
<%# end %>

<%= link_to new_task_path do %>
  <i class="fa fa-plus"></i> Add a new task
<% end %>
